.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}

.logo {
  flex-grow: 1;  
}

.logo-item {
  margin-left: 0px;
}

.rigth {
  justify-content: flex-end;
  flex-grow: 12;
}

.buttons {
  margin-right: 10px; 
}
