.header {
  height: 100%;
}

.application {
  display: flex;
  flex-direction: row
}

.navigation-menu {
  flex-grow: 1;
  background-color: red;
  align-items: stretch;
}

.content {
  flex-grow: 12;
}

